In [17]:
age = 27
e = 3.141

3.141

In [20]:
typeof(age)
println(typeof(e))
typeof('a')

Float64

Char

In [16]:
typeof("double quotes")
# \sigma gives the symbol
σ = 2.5
println("σ = ", sqrt(σ))

σ = 1.5811388300841898

In [29]:
a, b = 10, 20
# println('a = ', a, ' b = ', b) it doesn't work as python
println([1, 2, 4.0])
typeof([1, 2, 4.0]) 
# everything is type based, because of 4.0 the list is float type

[1.0, 2.0, 4.0]

Vector{Float64} (alias for Array{Float64, 1})

In [31]:
convert(Int64, 1)
convert(Float64, 2.4)

2.4

Boolean Operation

In [36]:
val_t = true
val_f = false

println(val_t && val_f)
println(val_t || val_f)
println(!val_t)

false
true
false

String Operation

In [45]:
name = "Erdem"
age = 27
println("The admin's name is: $(name) and his age is $(age)")

#concat
surname = "Gunenc"
fullName = name * surname
println(fullName)
joinFullName = join([name, surname], ' ')
println(joinFullName)

The admin's name is: Erdem and his age is 27
ErdemGunenc
Erdem Gunenc